
html, body {
	margin: 2px;
	outline-style: solid; outline-color: white;
}
header, footer {
	margin: 1px;
	background-color: #B8860B;
}
footer {
	margin-top: 3px;
	padding-left: 20px;
}
header {
	text-align: center;
	margin-bottom: 5px;
}

nav { margin: 1px;
	background-color: #abdeb8; padding-left: 1px;
	padding-top: 5px; padding-right: 20px;
	

}

main {
	margin: 1px;
	background-color: #FFFAF0;
	padding: 10px;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;

}

aside {
	margin: 1px;
	background-color: #abdeb8; padding: 5px;
	padding-top: 20px; text-align: center;
}

.flexbox {
  display: flex;
  min-height: 91vh;
  flex-direction: column;

}
.responsive {
  max-width: 100%;
  height: auto;
}

.container {
  height: 75%; 
  display: flex;
  flex: 1 auto;
  margin-bottom: 1px;
}


.main {
  flex: 1;
}

.nav, .aside {
  flex: all;

}

.nav {
  order: -1;
  list-style: none;
}

@media screen and (max-width: 768px) {
	main {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.container {
		flex-direction: column;
	}
	aside { padding-top: 5px;

	}
	









